.top-nav {
   position: fixed;
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   background-color: lightgray;
   color: rgb(50, 49, 49);
}

.search-bar {
   width: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.links {
   width: 30%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.link {
   text-decoration: none;
   color: black;
   font-weight: bold;
}

.user-section {
   width: 20%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}