.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  min-width: 490px;
  justify-items: center;
  background-color: aqua;
}

.movie {
  width: 90%;
  height: 300px;
  font-weight: bold;
  margin: 1rem 0;
  background-color: violet;
  border: 1px solid #666464;

  text-align: center;
}